{% extends 'cal/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="clearfix">
    <a class="btn btn-info left" href="{% url 'cal:famcal' %}?{{ prev_month }}">Previous Month</a>
    <a class="btn btn-info right" href="{% url 'cal:famcal' %}?{{ next_month }}">Next Month</a> 
    <a class="btn btn-info right" href="{% url 'cal:new_event' %}"> New Event </a>
</div>
{{ calendar }}

{% else %}
<div class="box">
    <img src="static/cal/images/familyimg.jpg" alt="image" style="width: 100%;">
    <h1 class="centered" style="position: absolute; color: white; top: 50%; left: 5%; text-align: center; font-style: oblique; font-size: 70px;">Welcome in FamTouch Calendar! Time to maintain the Family Touch</h1>
    <h3 class="centered" style="position: absolute; color: rgb(100, 9, 29); top: 82%; left: 23%; text-align: center; font-style: oblique;">Add family events and commitments into the calendar ;)</h3>
</div>
{% endif %}
{% endblock %}