  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 2px 5px 10px rgb(9, 70, 48);
    margin-right: 3px;
  }
  
  .clearfix {
    margin: 15px;
  }
  
.calendar {
    width: 98%;
    margin: auto;
    font-size: 16px;
  }
  
  .calendar tr, .calendar td {
    border: 3px solid black;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 20px;
  }
  
  .calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
    font-size: 15px;
    color: blue;
  }
  
  .month {
    font-size: 30px;
  }
  
  .date {
    font-size: 24px;
    color: black;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  
  .clearfix a {
    color: black;
  }

  .clearfix a:hover, a:active {
      background-color: rgb(101, 188, 194);
  }